/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: var(--colorOneMain);
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0px;
    right: 30px;
    width: 280px;
    font-size: 18px;
}

.text{
    padding: 14px 20px;
}

.img{
    padding: 3px 10px;
}

/*Img On open button*/
.open-button img{
    height: 40px;
    width: 40px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    width: 282px;
    bottom: 0;
    right: 30px;
    border: 3px solid var(--colorOneMain);
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: var(--colorOneMain);
    color: white;
}

.form-container img{
    display: flex;
    width: 60px;
    margin: 10px auto;
}

/* Full-width input fields */
.form-container p {
    width: 100%;
    margin: 5px 0 30px 0;
    border: none;
    text-align: center;
}

/* Lien de connexion/inscription */
.form-container p a, .form-container ul li a{
    text-decoration: underline #fff;
    color: white;
}

.form-container ul{
    /*background-color: var(--colorTwoMain);*/
    margin: 0px 0 30px;
}

.form-container ul li{
    padding: 5px 0;
    list-style: none;
    text-align: center;
}


/* When the inputs get focus, do something */
.form-container p:focus, .form-container p:focus {
    /*background-color: #ddd;*/
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: var(--colorTwoMain);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
